<h1>Ceux qui ont répondus</h1>

<table class="table">
 <!--  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Nombre d'invités</th>
      <th scope="col">Marrakech</th>
      <th scope="col">Mairie</th>
      <th scope="col">NO</th>
      <th scope="col">Petit mot</th>
    </tr>
  </thead> -->
  <tbody>
    <% @save_the_dates.each do |answer| %>
    <tr>
      <th scope="row"><%= answer.name %></th>
      <td><%= answer.number_of_invites %></td>
      <td><%= "🐪" if answer.present %></td>
      <td><%= "💒" if answer.mairie %></td>
      <td><%= "❌" if answer.rien %></td>
      <td><%= answer.comment %></td>

      <%  %>
      <td><%=  %></td>
    </tr>
    <%end%>
  </tbody>
</table>
