<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1570448228/lisa/save_hyhbqb.jpg") %>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

    <h1>Répondre à Laura et Cyril</h1>
    <%= simple_form_for @save_the_date do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :present %>
    <%= f.input :comment %>
    <%= f.button :submit, class: 'btn btn-flat' %>
    <% end %>

  </div>
</div>
