
<div class="row pagesavedate">
  <div class="savedate col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <%= cl_image_tag("https://res.cloudinary.com/dpcd0je1d/image/upload/v1570448228/lisa/save_hyhbqb.jpg") %>
  </div>
  <div class="justify-content-center align-items-center col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="confirmation-presence">
      <br>

      <h3 class="form-save-the-date">Confirmation de votre presence:</h3>


      <%= simple_form_for @save_the_date do |f| %>
      <%= f.input :name, label: "Nom et Prénom" %>
      <%= f.input :present, label:"Oui, je serai présent-e !" %>
      <%= f.input :number_of_invites, default:0, label: "Nous serons:" , collection: [0, 1, 2, 3, 4, 5]%>
      <%= f.input :mairie, label:"Non, mais je serai présent(e) au mariage civil à Paris" %>
      <%= f.input :rien, label:"Non, mais je penserai à vous !" %>
      <%= f.input :comment, label: "Laissez nous un petit mot: " %>
      <%= f.button :submit, label:"SAVE THE DATE", class: 'btn btn-light' %>
      <% end %>

    </div>

  </div>
</div>
